*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
 body{
 
    width: 1000px;
    height: 500px;
    margin: auto,50px;
    
}
.box1{
    width: 580px;
    height: 400px;
    background-color:chartreuse;
    position: relative;
    margin: auto;
    top: 50px;

    z-index: 1;
}

img {
    height: 350px;
    width: 250px;
    margin: auto;
    
    }
    
    .box2{
        width: 50%;
        position: relative;
        bottom: 325px;
        left: 580px;
        z-index: 5;
    
    }
.box3{
    z-index: 10;
    position: relative;
    bottom: 630px;
    left: 160px;
   
}
h2{
    font-size: 2rem; 
    margin-top: 25px;
    font-weight:2px;
    text-transform: uppercase;
}

p{
    font-size: 1,2rem; 
    margin-top: 10px;
}

button{
    position: relative;
    bottom: 580px;
    left: 170px;
    text-transform: uppercase;
    text-align: center; 
    padding: 10px 30px;
    background-color:black;
    color:white;
    font-weight:2px;
    z-index: 15;
}

